In [1]:
from strucpara.processing import GrooveAgent
import pandas as pd
rootfolder = '/Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g'

### Part 1: Initialize

In [22]:
host = 'me123'
time_interval = '0_1us' # '0_1us', '1_2us', '2_3us', '3_4us', '4_5us'
bp_agent = GrooveAgent(rootfolder, host, time_interval)

mkdir /Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g/me123
mkdir /Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g/me123/0_1us

In [3]:
# server_ip = '140.113.120.131'
# bp_agent.download_ensesmble_out(server_ip)
# bp_agent.extract_parameters()

### Part 2: rename & mv out file into 0_1us

### ./changename.sh

### Part 3: Convert dat(actually it's 'out' file) to csv

In [23]:
bp_agent.convert_dat_to_csv()

Dataframe to csv: /Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g/me123/0_1us/major_gw_pp.csv
Dataframe to csv: /Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g/me123/0_1us/major_gw_refined.csv
Dataframe to csv: /Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g/me123/0_1us/minor_gw_pp.csv
Dataframe to csv: /Volumes/TOSHIBA_2T/Hsin-Yun/cg_13/analysis/meth3/major_minor_g/me123/0_1us/minor_gw_refined.csv

### Test

In [24]:
df = pd.read_csv(f'{rootfolder}/{host}/{time_interval}/minor_gw_pp.csv', index_col='Frame-ID')
df

,label1,label2,label3,label4,label5,label6,label7,label8,label9,label10,label11,label12
Frame-ID,,,,,,,,,,,,
1,na,na,14.7,14.3,14.1,14.4,14.0,13.0,12.5,11.9,na,na
2,na,na,14.4,12.7,12.1,12.8,13.0,12.9,12.1,12.5,na,na
3,na,na,11.9,13.3,13.5,13.5,12.7,12.8,13.7,15.9,na,na
4,na,na,13.1,13.2,13.8,14.0,12.9,13.1,12.6,12.9,na,na
5,na,na,13.0,13.0,13.4,12.9,11.3,11.5,11.4,13.6,na,na
...,...,...,...,...,...,...,...,...,...,...,...,...
9997,na,na,11.5,11.6,13.5,15.4,14.7,14.3,12.2,9.6,na,na
9998,na,na,15.3,13.1,11.2,11.8,12.9,13.8,13.0,10.3,na,na
9999,na,na,11.1,12.7,13.5,13.7,13.4,13.1,11.9,11.1,na,na
10000,na,na,12.6,13.0,12.8,12.4,12.4,12.3,10.2,10.5,na,na
10001,na,na,13.4,13.4,13.3,13.0,13.9,15.0,13.3,12.9,na,na

### Additional Part 1: Clean all the dat file

In [ ]:
bp_agent.clean_dat_files()